[Data]
row=8
col=0

[boot0]
row=3
col=0

[EFIESP]
row=1
col=1

[Том 537 MB]
row=4
col=1

[boot-rbp2]
row=5
col=0

[SETTINGS]
row=3
col=1

[scratch]
row=7
col=0

[tel]
row=0
col=1

[root0]
row=4
col=0

[MainOS]
row=2
col=1

[Том 4,1 GB]
row=5
col=1

[root-rbp2]
row=6
col=0

[Корзина]
row=2
col=0

[Файловая система]
row=1
col=0

[Домашний каталог]
row=0
col=0

