[Internet]
row=3
col=0

[Том 4,1 GB]
row=4
col=0

[root-rbp2]
row=2
col=1

[Том 537 MB]
row=5
col=0

[Data]
row=0
col=1

[boot0]
row=5
col=1

[EFIESP]
row=8
col=0

[boot-rbp2]
row=3
col=1

[SETTINGS]
row=6
col=0

[scratch]
row=1
col=1

[tel]
row=9
col=0

[root0]
row=4
col=1

[MainOS]
row=7
col=0

[Корзина]
row=1
col=0

[Файловая система]
row=2
col=0

[Домашний каталог]
row=0
col=0

