[root-rbp2]
row=2
col=1

[SETTINGS]
row=0
col=3

[Data]
row=0
col=2

[Том 4,1 GB]
row=2
col=3

[boot0]
row=3
col=0

[tel]
row=1
col=2

[boot-rbp2]
row=1
col=1

[MainOS]
row=3
col=2

[scratch]
row=3
col=1

[Том 537 MB]
row=1
col=3

[root0]
row=0
col=1

[EFIESP]
row=2
col=2

[Корзина]
row=2
col=0

[Файловая система]
row=1
col=0

[Домашний каталог]
row=0
col=0

